@use "./mixin" as *;

.header {
  background-color: #dfdfdf;
  .nav-div {
    padding: 1.5rem;
    .nav {
      display: flex;
      justify-self: center;
      background-color: #ffffff;
      border-radius: 3rem;
      box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.264);
      @include up(550px) {
        gap: 20px;
      }
      .logo {
        width: 35px;
        margin: 0.5rem;
        @include up(550px) {
          width: 55px;
          margin: 0.8rem;
        }
      }
      .nav-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .link {
          padding: 5px;
          border-radius: 3rem;
          list-style: none;
          font-size: 0.7rem;
          font-family: $text;
          cursor: pointer;
          transition: 0.2s;
          @include up(630px) {
            font-size: 1rem;
          }
          @include up(630px) {
            padding: 15px;
          }
        }
        .link:hover {
          background-color: $primary-color;
          color: $text-btn-color;
          border-radius: 3rem;
          transition: 0.2s;
        }
      }
      .button {
        @include button1;
        margin: 0.2rem;
        font-size: 0.7rem;
        text-align: center;
        @include up(400px) {
          margin: 1rem;
        }
        @include up(600px) {
          font-size: 1rem;
          margin: 1rem;
        }
      }
      .button:hover {
        @include button1-hover;
      }
    }
  }
  .header-content {
    @include section-column(1);
    margin: 1rem;
    gap: 15px;
    .title {
      @include title(1.5rem);
      text-align: center;
      @include up(400px) {
        margin: 2rem;
        margin-bottom: 0rem;
        font-size: 1.5rem;
      }
      @include up(550px) {
        max-width: 15em;
        margin-top: 0.5rem;
        font-size: 2.5rem;
      }
    }
    .text {
      @include text;
    }
    .button {
      @include button1;
      margin: 0.6rem;
    }
    .button:hover {
      @include button1-hover;
    }
    .main-img {
      max-width: 18rem;
      margin-top: 2rem;
      border-radius: 0.5rem;
      @include up(300px) {
        max-width: 20rem;
      }
      @include up(500px) {
        max-width: 30rem;
      }
      @include up(970px) {
        max-width: 60rem;
      }
      @include up(1150px) {
        max-width: 70rem;
      }
    }
  }
}
.partenaire {
  display: grid;
  align-content: center;
  overflow: hidden;
  gap: $gap;
  width: 100%;
  min-height: 50vh;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  .title {
    @include title(1.2rem);
    text-align: center;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 100vw;

    .marquee {
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: $gap;
      mask-image: linear-gradient(
        var(--mask-direction, to right),
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
      );
      .marquee__group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: $gap;
        min-width: 100%;
        animation: scroll-x $duration linear infinite;

        .marquee_link {
          display: grid;
          place-items: center;
          width: $size;

          .marquee_img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 0.5rem;
          }
        }
      }
    }
    @keyframes scroll-x {
      from {
        transform: translateX($scroll-start);
      }
      to {
        transform: translateX($scroll-end);
      }
    }
  }

  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.services {
  justify-content: center;
  padding: 2rem;
  margin-bottom: 5rem;
  background-color: #b9b9b9;
  @include up(950px) {
    padding: 5rem;
    margin-bottom: 10rem;
  }
  .description {
    @include section-wrap;
    @include up(848px) {
      justify-content: space-around;
      flex-direction: row;
    }
    .title {
      @include title(2rem);
      @include up(850px) {
        width: 17rem;
      }
    }
    .text {
      @include text;
      margin-top: 1rem;
      @include up(480px) {
        width: 28rem;
      }
      @include up(850px) {
        width: 24rem;
      }
    }
  }
  .service-div {
    @include section-wrap;
    margin-top: 4rem;
    gap: 20px;
    @include up(900px) {
      flex-wrap: nowrap;
    }
    @include up(1157px) {
      margin: 5rem;
    }
    .service {
      background-color: white;
      border: 2px solid $border-color;
      border-radius: 0.3rem;
    }
    .icon {
      width: 65px;
      margin: 0.5rem;
    }
    .title {
      @include title(1.2rem);
      margin: 0.5rem;
    }
    .text {
      @include text;
      margin: 0.5rem;
      padding-bottom: 1rem;
    }
  }
}
.showcase {
  margin: 2rem;
  @include up(950px) {
    margin: 5rem;
  }
  .description {
    @include section-wrap;
    @include up(848px) {
      justify-content: space-around;
      flex-direction: row;
    }
    .text {
      @include text;
    }
  }
  .title {
    @include title(2rem);
    margin-bottom: 1rem;
  }
  .buttons {
    @include section-wrap;
    align-items: end;
    margin-top: 20px;
    gap: 20px;
    @include up(850px) {
      flex-wrap: nowrap;
    }
    .button {
      @include button2(black);

      .img {
        @include button-img;
        border-radius: 2rem;
      }
      .text {
        @include text;
        padding: 0.5rem;
      }
    }
    .button:hover {
      @include button2-hover;
    }
  }
  .list-showcase {
    @include section-wrap;
    margin-top: 4rem;
    @include up(400px) {
      margin-top: 2.5rem;
    }
    .showcase-case {
      width: fit-content;
      margin: 1rem;
      padding: 0.1rem;
      border: 2px solid $border-color;
      border-radius: 1rem;
      transition: 0.2s;
      .text {
        @include text;
        margin: 0.7rem;
      }
      .img {
        width: 230px;
        margin: 0.7rem;
        border-radius: 1rem;
        @include up(430px) {
          width: 290px;
        }
        @include up(1053px) {
          width: 383px;
        }
      }
    }
    .showcase-case:hover {
      transform: scale(1.05);
      transition: 0.2s;
    }
  }
}
.stats {
  justify-self: center;
  width: 100%;
  background-color: $background-color;
  .stats-div {
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 0.5rem;
    @include up(600px) {
      gap: 3rem;
    }
    @include up(1000px) {
      gap: 10rem;
    }
    .stats-description {
      @include section-column(1);
      .title {
        @include title(2rem);
        @include up(650px) {
          font-size: 4rem;
        }
      }
      .text {
        @include text;
        width: 4rem;
        margin: 0.5rem;
        text-align: center;
        @include up(600px) {
          width: 7rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
